@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider2 .slide-track {
  -webkit-animation: scroll 60s linear infinite;
          animation: scroll 60s linear infinite;
  display: flex;
  width: calc(20% * 11);
}
.slider2 {
  overflow: hidden;
}
.slide .TxSl2 {
    position: absolute;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 2%;
    text-align: center;
    color: black;
}
.slide .TxSl3 {
    position: absolute;
    font-size: 15px;
    margin-top: 4%;
    margin-left: 3%;
    text-align: center;
    color: black;
}
