@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider2 .slide-track {
  -webkit-animation: scroll 60s linear infinite;
          animation: scroll 60s linear infinite;
  display: flex;
  width: calc(20% * 11);
}
.slider2 {
  overflow: hidden;
}
