@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    margin: 0;
    padding: 0;
    -wedkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-image: url(../images/background-1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
}
.content-1{
    width: 100%;
    background: white;
    padding: 50px;
    margin-top: 50vh;
    
    
}
.content-1 h1{
    text-align: center;
    
    
}
.content-icon-all{
    display: -wedkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.content-icon{
    width: 200px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    -wedkit-transition: all 300ms;
    transition: all 300ms;
    margin-top: 40px;
    
}
.content-icon:hover{
    -wedkit-box-shadow:0px 0px 40px -5px black;
    box-shadow: 0px 0px 40px -5px black;
}
.content-icon img{
    width: 150px;
    border-radius:50% ;
    -wedkit-box-shadow:0px 0px 40px -10px black;
    box-shadow: 0px 0px 40px -10px black;
}
.content-icon h4{
    margin-top:10px;
}
.content-icon p{
    margin-top: 10px;
}
hr{
    border-top:1px solid #4f4f4f;
    border-bottom:  1px solid #4f4f4f;
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
    margin-top: 40px;
    
}
.parrafo1{
    margin: auto;
    margin-top: 20px;
    max-width: 800px;
    font-size: 20px;
    
    
}
/*conte-2*/
.content-2{
    background-image: url(../images/background-2.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-item-1{
    width: 80%;
    margin: auto;
    background: #59CDC0;
    text-align: center;
    padding: 40px;
    margin-top: 30vh;
    
}
.content-item-1 img{
    width: 100%;
    max-width: 800px;
    
    
}
.content-item-1 h1{
    margin-top: 20px;
}
.content-item-1 p{
    text-align: justify;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
/*content-3*/
.content-3{
    width: 100%;
    height: 80vh;
    margin-top: 250px;
    background-image: url(../images/background-2.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
}
.content-imagebox{
    position: relative;
    z-index: 1;
    width: 80%;
    height: 90%;

    left: 12%;
    top: 70px;
}
.imagebox-1{
    position: absolute;
    z-index: 2;
    width: 33%;
    height: 48%;

    top: 5px;
}
.imagebox-2{
    position:absolute;
    z-index: 3;
    top: 0px;
    left: 380px;
    width: 33%;
    height: 48%;

    top: 5px;
}
.imagebox-3{
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 760px;
    width: 33%;
    height: 48%;

    top: 5px;
}
.imagebox-4{
    position: absolute;
    z-index: 5;
    top:250px;
    width: 33%;
    height: 48%;

}
.imagebox-5{
    position: absolute;
    z-index: 6;
    top:250px;
    left: 380px;
    width: 33%;
    height: 48%;

}
.imagebox-6{
    position: absolute;
    z-index: 7;
    top:250px;
    left: 760px;
    width: 33%;
    height: 48%;

}

/*content-4*/

.content-4{
    width: 100%;
    height: 50vh;
    margin-top: 200px;
    background-image: url(../images/background-1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
}








