/*    ------    contenedor 1    -----     */
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
}
#clickImg {
animation: cambio 0s infinite alternate linear;}
#clickImg:hover {
    animation-play-state:paused;
}
#clickImg:hover .TxSl{
    font-size: 40px;
    margin-left: 25%;
    margin-top: 14%;
    opacity:1;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
    height: 58.5%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.slider .TxSl {
    position: absolute;
    font-size: 20px;
    margin-left: 40%;
    margin-top: 5%;
    text-align: center;
    z-index: 2;
    color: black;
    opacity:0;
    transition: ;
    transition: opacity 0.9s, margin-top 0.6s, font-size 0.9s;
}


/*----------     contenedor 3      -----------*/
.content-3{
 overflow: hidden;
}
.l-section-video video {
    position: relative;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    transform: translate(-50%,-10%);
    filter: grayscale(80%)
}
.content-3 .texto {
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
    text-align: center;
    z-index: 2;
    font-size: 20px;
    color: white;
}
.content-3 .texto2 {
    position: absolute;
    margin-left: 28.5%;
    margin-top: 12%;
    text-align: center;
    z-index: 2;
    font-size: 50px;
    color: white;
}
.content-3 .logos {
    width: 50%;
    position: absolute;
    margin-left: 30%;
    margin-top: 25%;
    text-align: center;
    z-index: 2;
    font-size: 15px;
    color: white;
}
.content-3 #L1{
    float: left;
    margin-right: 5%;
}
.content-3 #L1 h2{
    margin-top: 7%;
}
.content-3 #L1:hover{
    -webkit-transform: rotate(180deg);transform: rotate(180deg);
}
.content-3 #L1 h2:hover{
    font-size: 30px;
}
/*----------     contenedor 5      -----------*/
.content-5{
    z-index: 1;
 border: solid red 20px;
}
.content-5 div{
    float: left;
    animation: cambio2 10s infinite alternate linear;
}
.slider-corto {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider-corto ul {
    display: flex;
    padding: 0;
    width: 100%;
}

#clickImg2 {
animation: cambio2 5s infinite alternate linear;}
#clickImg2:hover {
    animation-play-state:paused;
}
.slider-corto li {
    width: 100%;
    list-style: none;
}

@keyframes cambio2{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


