.content-1{
    width: 100%;
    height: 70vh;
    margin-top: 0px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
/*    ------    contenedor 1    -----     */
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 500%;
}
#clickImg {
animation: cambio 15s infinite alternate linear;}
#clickImg:hover {
    animation-play-state:paused;
}
#clickImg:hover .TxSl{
    font-size: 190%;
    margin-left: 25%;
    margin-top: 14%;
    opacity:1;
}
#clickImg:hover .TxSl2{
    font-size: 210%;
    margin-left: 35%;
    margin-top: 10%;
    opacity:1;
}
#clickImg:hover .TxSl3{
    font-size: 190%;
    margin-left: 28%;
    margin-top: 15%;
    opacity:1;
}
#clickImg:hover .bottonSL{
    font-size: 10px;
    margin-left: 38%;
    margin-top: 25%;
    opacity:1;
}
.slider li {
    width: 100%;
    height: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}

    100% {margin-left: -400%;}
    120% {margin-left: -400%;}

    125% {margin-left: -500%;}
    145% {margin-left: -500%;}
}

.slider .TxSl {
    position: absolute;
    font-size: 20px;
    margin-left: 40%;
    margin-top: 5%;
    text-align: center;
    color: black;
    opacity:0;
    transition: opacity 0.9s, margin-top 0.6s, font-size 0.9s;
}
.slider .TxSl2 {
    position: absolute;
    font-size: 20px;
    margin-left: 40%;
    margin-top: 5%;
    text-align: center;
    color: black;
    opacity:0;
    transition: opacity 0.9s, margin-top 0.6s, font-size 0.9s;
}
.slider .TxSl3 {
    position: absolute;
    font-size: 20px;
    margin-left: 40%;
    margin-top: 5%;
    text-align: center;
    color: black;
    opacity:0;
    transition: opacity 0.9s, margin-top 0.6s, font-size 0.9s;
}
.slider .bottonSL {
    position: absolute;
    font-size: 20px;
    margin-left: 40%;
    margin-top: 50%;
    border-radius:15px;
    text-align: center;
    color: black;
    background: green;
    padding: 10px 30px;
    opacity:0;
    transition: opacity 0.9s, margin-top 0.6s, font-size 0.9s;
}
.slider .bottonSL a{
    color: black;
    text-decoration: none;
}
/*----------     contenedor 3      -----------*/
.content-3{
 overflow: hidden;
}
.l-section-video video {
    position: relative;
    top: 50%;
    left: 48%;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    transform: translate(-50%,-10%);
    filter: grayscale(80%);
}
.content-3 .texto {
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
    text-align: center;
    z-index: 2;
    font-size: 20px;
    color: white;
}
.content-3 .texto2 {
    position: absolute;
    margin-left: 28.5%;
    margin-top: 12%;
    text-align: center;
    z-index: 2;
    font-size: 50px;
    color: white;
}
.content-3 .logos {
    width: 50%;
    position: absolute;
    margin-left: 30%;
    margin-top: 25%;
    text-align: center;
    z-index: 2;
    font-size: 15px;
    color: white;
}
.content-3 #L1{
    float: left;
    margin-right: 5%;
}
.content-3 #L1 h2{
    margin-top: 7%;
}
.content-3 #L1:hover{
    -webkit-transform: rotate(180deg);transform: rotate(180deg);
}
.content-3 #L1 h2:hover{
    font-size: 30px;
}

