/*    ------    contenedor 1    -----     */
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
}
#clickImg {
animation: cambio 20s infinite alternate linear;}
#clickImg:hover {
    animation-play-state:paused;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
    height: 58.5%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/*----------     contenedor 3      -----------*/
.content-3 .video{
    position: relative;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    transform: translate(100%,-50%);
}
/*----------     contenedor 5      -----------*/
.content-5 div{
    float: left;
    animation: cambio2 10s infinite alternate linear;
}
.slider-corto {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider-corto ul {
    display: flex;
    padding: 0;
    width: 100%;
}

#clickImg2 {
animation: cambio2 5s infinite alternate linear;}
#clickImg2:hover {
    animation-play-state:paused;
}
.slider-corto li {
    width: 100%;
    list-style: none;
}

@keyframes cambio2{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


