@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    margin: 0;
    padding: 0;
    -wedkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    background-image: url(../images/background-1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

hr{
    border-top:1px solid #4f4f4f;
    border-bottom:  1px solid #4f4f4f;
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
    margin-top: 40px;

}

.content-1{
    width: 100%;
    height: 80vh;
    margin-top: 150px;
    background-color: aqua;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-2{
    width: 100%;
    height: 80vh;
    margin-top: 0px;
    background-color: white;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-3{
    width: 100%;
    height: 80vh;
    margin-top: 0px;
    background-color: yellow;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-4{
    width: 100%;
    height: 30vh;
    margin-top: 0px;
    background-color: aqua;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-5{
    width: 100%;
    height: 30vh;
    margin-top: 0px;
    background-color:orange;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-6{
    width: 100%;
    height: 60vh;
    margin-top: 0px;
    background-color:white;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}



.content-9{
    width: 100%;
    height: 50vh;
    margin-top: 0px;
    background-image: url(../images/wallpapers_tecnologia_computacion_by_madboxpc-1.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-9{
    color: aliceblue;
}
.pie-1, .pie-2, .pie-3 {
    float: left;
    width: 320px;
    height: auto;
    margin: 20px;
    margin-top: 50px;
}
.pie-1{
    margin-left: 200px;
}
.redes-pie {
    margin-top: 30px;
    width: 350px;
}
#faceb-p, #GM-p, #inst-p, #you-p {
    float: left;
    margin-right: 16px;
}
.redes-pie img{
    width: auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.redes-pie img:hover{
    height: 90px;
    width: 90;
    margin-left: -50px;
}


/* Pie de pagina y marca registrada*/
.content-9{
    width: 100%;
    height: 50vh;
    margin-top: 200px;
    background: rgba(0, 0, 0, 0.9);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.content-9{
    color: aliceblue;
}
.pie-1, .pie-2, .pie-3 {

    float: left;
    width: 360px;
    height: auto;
    margin: 10px;
    margin-top: 100px;
}
.pie-1{
    margin-left: 230px;
}
.pie-2{
    margin-left: 50px;
}
.pie-2 li{
    padding: 5px;
    list-style-type: circle;
}
.pie-2 a{
    color: #b7b0e0;
    text-decoration:none;
}
.pie-2 a:hover{
    text-decoration:none;
    display:block;
    color: skyblue;
    font-size: 19px;
}
.redes-pie {
    margin-top: 30px;
    width: 350px;
}
#faceb-p, #GM-p, #inst-p, #you-p {
    float: left;
    margin-right: 16px;
}
#faceb-p, #GM-p, #inst-p, #you-p{
    filter: grayscale(100%);
}
#faceb-p:hover,#GM-p:hover, #inst-p:hover, #you-p:hover{
    filter: grayscale(0%);
}
.redes-pie img{
    width: auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.redes-pie img:hover{
    height: 90px;
    width: 90;
    margin-left: -50px;
}
input:invalid ~ span:after {
    content: '✖';
    padding-left: 5px;
    position: absolute:
}
input:valid ~ span:after {
    content: '✓';
    padding-left: 5px;
    position: absolute:
}
.imagen-pie h3{
    padding: 2px;
    width: 200px;
    margin-top: 5px;
    margin-left: 50px;
}
.content-10{
    width: 100%;
    height: 15vh;
    margin-top: 0px;
    background-color:black;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-10 p{
    float: left;
    color:white;
    width: auto;
    margin: 60px 260px;
}
.content-10 ul {
    float: left;
    color:aqua;
    width: auto;
    margin: 60px 10px;
    font-size: 20px;
}
.content-10 ul a{
    text-decoration:none;
    display:block;
    color: aliceblue;
}
.content-10 ul a:hover{
    text-decoration:none;
    display:block;
    color: skyblue;
    font-size: 26px;
}
/*    Eso era pie y marca registrada*/


