/*estilo importado para el estilo de letra  por parte google*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300');
/*estilos aplicados para todo contenido del home3*/

* {
    margin: 0;
    padding: 0;
    -wedkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/*estilos para todo el cuerpo principal del ala pagina home3*/

body {
    background-image: url(../images/slider-tech.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

hr {
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
    margin-top: 40px;

}

/*estilos para los contenedore para el home 3*/

/*estilos para la estructura del content-1*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.content-1 {
    width: 100%;
    height: 700px;
    margin-top: 0px;
}

@media all and (max-width:600px) {
    .content-1 {
        height: 800px;
    }
}

.comten-ryo {
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.7);
}

.comten-ryo h1 {
    position: relative;
    font-size: 30px;
    top: 38%;
    left: 30%;
    color: grey;
    width: 55%
}

.boton_personalizado1 {
    position: relative;
    margin-left: 45%;
    top: 400px;
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    background-color: rebeccapurple;
    border-radius: 6px;
    border: solid #0016b0 1px;
}

.boton_personalizado1:hover {
    color: #1883ba;
    background-color: #ffffff;
}

.opasity {
    background-color: rgba(31, 31, 31, 0.7);
}

/*estilos para los contenedore para el home 3*/

/*estilos para la estructura del content-3*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.content-3 {
    width: 100%;
    height: 80vh;
    margin-top: 0px;
    background-color: yellow;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

/*     ----------------     content-4       ----------------------------*/

/*estilos para los contenedore para el home 3*/

/*estilos para la estructura del content-4*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.content-4 {
    width: 100%;
    height: 490px;
    margin-top: -10px;
    background-color: rgb(0, 0, 0);
}

@media all and ( max-width: 980px) {
    .content-4 {
        height: 590px;
        font-size: 15px;
    }
}

@media all and ( max-width: 690px) {
    .content-4 {
        height: 890px;
    }
}

.title-Ct4 {
    color: snow;
    font-size: 20px;
    margin-left: 37%;
    width: 30%;
    padding: 20px 0px 0px;
    text-align: center;
}
.title-Ct4 spam {
    color: yellow;
}

.botoms-Ct4 {
    text-align: center;
    width: 55%;
    height: 80%;
    margin-left: 25%;
    margin-top: 1.6%;
}

.BtCt4-1,
.BtCt4-2,
.BtCt4-3 {
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
}

#BtCt4 {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    background-color: #9e969e;
    text-align: center;
    width: auto;
    max-width: 120px;
    margin-left: 26%;
    height: 100px;
}

#BtCt4 img {
    width: 60px;
    height: auto;
    margin: 20px 10px;
}

@media all and ( max-width: 690px) {
    #BtCt4 img {
        width: 30px;
        height: auto;
        margin: 30px 0px;
    }
}

.BtCt4-1 a,
.BtCt4-2 a,
.BtCt4-3 a {
    color: wheat;
    text-decoration: none;
}

.BtCt4-1 p,
.BtCt4-2 p,
.BtCt4-3 p {
    color: white;
    width: 100%;
    height: 180px;
    padding: 12px 6px;
}

/*     ----------------     content-2       ----------------------------*/

/*estilos para los contenedore para el home 3*/

/*estilos para la estructura del content-2*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.content-2 {

    width: 100%;
    height: 800px;
    margin-top: 0;
    background-color: white;
}

.Ct2 {
    width: 100%;
    height: 50%;
}

.Ct2 .img {
    float: left;
    width: 49%;
    height: 100%;
}

.Ct2 .img img {
    float: left;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 100%;
}

.Ct2 .Ct2-text {
    float: left;
    width: 49%;
    height: 100%;
}

.CTT {
    margin-top: 60px;
    margin-left: 60px;
}

.divi {
    float: left;
    margin-top: 12px;
    margin-left: 30px;
    width: 45%;
    height: auto;
    display: flex;
    font-size: 85%;
}

.icono {
    margin-right: 15px;
}
.icono img {
        width: 50px;
    }
.tes {
    width: 100%;
}

@media all and ( max-width: 1400px) {
    .content-2 {
        height: 120vh;
    }
    .Ct2 {
        font-size: 15px;
    }
    .Ct2 .img img {
        max-height: 530px;
    }
    .divi {
        width: 40%;
        display: flex;
        font-size: 70%;
    }
}
@media all and ( max-width: 931px){

    .CTT {
        margin: 20px 0px;
        margin-left: 30px;
    }
    .divi {
        width: 80%;
        display: flex;
         margin: 10px 20px -10px;
        height: auto;
    }
    #divi2 {
        margin-top: 30px;
    }
  .tes h2 {
        font-size: 16px;
    }
    .tes p{
        font-size: 15px;
    }
    .icono img {
        width: 50px;
    }
}
@media all and ( max-width: 720px) {
    .content-2 {
        height: 140vh;
    }
    .Ct2 {
        font-size: 15px;
    }
    .Ct2 .img img {
        max-height: 99%;
    }
    .CTT {
        margin: 10px 10px;
        margin-left: 0;
    }
    .divi {
        width: 80%;
        display: flex;
        margin: 10px 10px 0px;
        height: auto;
    }
    #divi2 {
        margin-top: 10px;
    }
    .tes p {
        font-size: 15px;
    }
}
@media all and ( max-width: 570px) {
    .content-2 {
        height: 180vh;
    }
    .CTT {
        margin: 10px 0px;
        margin-left: 0;
        font-size: 13px;
    }
    .Ct2 {
        font-size: 14px;
    }
    .Ct2 .img img {
        max-height: 99%;
    }
    .divi {
        width: 80%;
        display: flex;
         margin: 10px 0px -20px;
        height: auto;
    }
    #divi2 {
        margin-top: 30px;
    }
  .tes h2 {
        font-size: 10px;
    }
    .tes p{
        font-size: 9px;
    }
    .icono img {
        width: 40px;
    }
}
@media all and ( max-width: 400px) {
    .content-2 {
        height: 50px;
    }

}

/*    contenedor 2 secion 2      */

.Ct2-2 {
    width: 100%;
    height: 50%;
}

#contenedorr {
    float: left;
    padding: 95px 90px;
    width: 49%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#contenedorr input {
    height: 32px;
    visibility: hidden;
}

#contenedorr label {
    float: left;
    cursor: pointer;
    font-size: 15px;
    /* Tamaño del texto de las pestañas */
    line-height: 40px;
    height: auto;
    padding: 0 10px;
    display: flex;
    color: #888;
    /* Color del texto de las pestañas */
    text-align: center;
    border-radius: 5px 5px 0 0;
    background: #eee;
    /* Fondo de las pestañas */
    margin-right: 5px;
}


#contenedorr input:hover + label {
    background: #ddd;
    /* Fondo de las pestañas al pasar el cursor por encima */
    color: #666;
    /* Color del texto de las pestañas al pasar el cursor por encima */
}

#contenedorr input:checked + label {
    background: rgba(162, 145, 255, 0.4);
    /* Fondo de las pestañas al presionar */
    color: #444;
    /* Color de las pestañas al presionar */
    z-index: 6;
    line-height: 45px;
    height: 40px;
    position: relative;
    top: -5px;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    -ms-transition: .1s;
}

.conten {
    background: rgba(255, 218, 145, 0.47);
    /* Fondo del contenido */
    position: relative;
    height: 78%;
    /* Alto del contenido */
    padding: 25px;
    z-index: 5;
    border-radius: 0 5px 5px 5px;
}

.conten div {
    position: absolute;
    height: 80%;
    width: 90%;
    z-index: -100;
    opacity: 0;
    transition: all linear 0.1s;
}

#contenedorr input.tab-selector-1:checked ~ .conten .conten-1,
#contenedorr input.tab-selector-2:checked ~ .conten .conten-2,
#contenedorr input.tab-selector-3:checked ~ .conten .conten-3,
#contenedorr input.tab-selector-4:checked ~ .conten .conten-4 {
    z-index: 100;
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
    -moz-transition: all ease-out 0.2s 0.1s;
    -o-transition: all ease-out 0.2s 0.1s;
    -ms-transition: all ease-out 0.2s 0.1s;
}

@media all and ( max-width: 1348px) {
    #contenedorr {
        padding: 20px 20px;
        width: 50%;
    }

    #contenedorr label {
        display: flex;
    }

}

@media all and ( max-width: 970px) {
    #contenedorr {
        padding: 20px 20px;
        width: 50%;
        font-size: 10px;
    }
    #contenedorr input {
        height: 40px;
        visibility: hidden;
    }
    #contenedorr label {
        font-size: 10px;
        height: 5px;
        padding: 0px 10px;
        margin-right: 1px;
        display: flex;
    }
    #contenedorr input:checked + label {
        height: 10px;
    }
    .conten {
        padding: 0;
    }
}

@media all and ( max-width: 570px) {
    #contenedorr {
        padding: 20px 20px;
        width: 50%;
        font-size: 10px;
    }
    #contenedorr input {
        height: 40px;
        visibility: hidden;
    }
    #contenedorr label {
        font-size: 10px;
        height: 5px;
        padding: 0px 10px;
        margin-right: 1px;
        display: flex;
    }
    #contenedorr input:checked + label {
        height: 10px;
    }
    .conten {
        padding: 0;
    }

}

.Ct2-2 .img2 {
    float: left;
    width: 50%;
    height: 100%;
}

.Ct2-2 .img2 img {
    float: left;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 100%;
}

/*     ----------------     content-5       ----------------------------*/

/*estilos para los contenedore para el home 3*/

/*estilos para la estructura del content-5*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.content-5 {

    width: 100%;
    height: 500px;
    margin-top: 0px;
    background-color: white;
}

@media all and (max-width:500px) {
    .content-5 {
        height: 700px;
    }
}

@media all and (max-width:600px) {
    .content-5 {
        height: 1050px;
    }
}

.contentspecial {
    position: absolute;
    margin-top: 2%;
}

.imagenphon5 {
    position: absolute;
    top: 5%;
    left: 60%;
}

.imagenphon5 img {
    width: 100%;
    height: 80%;
    max-width: 400px;
    max-height: 350px
}

.imagenphontex {
    position: relative;
    top: 65%;
    left: 10%;
    width: 40%;
    height: 20%;

}

.texclass {
    position: relative;
    margin-top: 10px;
    left: 20px;
    text-align: center;
    font-family: roboto, sans-serif;

}

.boton1 {
    width: auto;
    position: relative;
    margin-top: 100px;
    margin-left: 24%;
    float: left;
}

@media all and (max-width:800px) {
    .boton1 {
        margin-top: 40px;
        margin-left: 10%;
        width: 150px;
        height: 100px;
    }
    .boton_personalizado {
        display: block;
    }

}

.boton_personalizado {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: purple;
    border-radius: 6px;
    border: 1px solid #0016b0;
}

.boton_personalizado:hover {
    color: #1883ba;
    background-color: #ffffff;
}

/*estilos para los contenedore para el home 3*/

/*estilos para la estructura del content-6*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.content-6 {
    width: 100%;
    height: 500px;
    margin-top: 0px;
    background-color: white;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;



}

.contery1 {
    width: 50%;
    height: 100%;
    background-image: url(../images/GLOBOS.jpeg);
    background-position: center center;
    background-size: cover;
}

.contery1 h1 {
   width: 70%;
    font-size: 22px;
    font-family: roboto, sans-serif;
    font-family: inherit;
    line-height: 1.4;
    margin: 0 0 1.5rem;
    color: antiquewhite;
}

.contery1 .conten-p {
    margin: 50px 90px;
    width: 70%;
    color: whitesmoke;
    line-height: 30px;

}

@media all and (max-width:900px) {
    .content-6 {
        height: 700px;
    }
}

@media all and (max-width:700px) {
    .conten-p p {
        font-size: 9px;
    }
    .content-6 {
        height: 720px;
    }
}
@media all and (max-width:600px) {
    .content-6 {
        height: 750px;
    }
}
@media all and (max-width:650px) {
    .content-6 {
        height: 760px;
    }
}

@media all and (max-width:500px) {
    .content-6 {
        height: 800px;
    }
    .contery1 h1{
        width: 100%;
    }
    .contery1 .conten-p {

        margin: 1px 1px;
        width: 100%;
}
}

.conte-butom {
    position: relative;
    top: 30%;
    left: 10%;
}

.contery2 {
    width: 50%;
    height: 100%;
    background-image: url(../images/hombre-estudiando-computadora.jpg);
    background-position: center center;
    background-size: cover;
}

.boton_personalizado2 {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: blue;
    background-color: whitesmoke;
    border-radius: 6px;
    border: 1px solid #0016b0;
}

.boton_personalizado2:hover {
    color: #1883ba;
    background-color: gray;
}

/*estilos para los contenedore para el home 3*/

/*estilos para la estructura del content-7*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*content-7*/

.content-7 {
    width: 100%;
    height: 700px;
    margin-top: 0px;
    background-color: whitesmoke;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms- flex-wrap: wrap;
    flex-wrap: wrap;


}

@media all and (max-width:700px) {
    .content-7 {
        height: 700px;
    }
}

@media all and (max-width:600px) {
    .content-7 {
        height: 800px;
    }
}

.content-7 .conten-h1 {

    margin-top: 5%;
    margin-left: 21%;

}

.content-7 .conten-h1 h1 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    font-family: roboto, sans-serif;
    font-family: inherit;
    line-height: 1.4;
    margin: 0 0 1.5rem;
    padding-top: 1rem;
}

.conter-striker {
    position: relative;
    width: 95%;
    height: auto;
    top: 2%;
    margin-left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.conter-striker .conty {
    width: 30%;
    padding: 20px;

}

@media all and (max-width:700px) {
    .conty p {
        font-size: 12px;
    }
}

@media all and (max-width:600px) {
    .conty {
        padding: 0px;
    }
}

@media all and (max-width:600px) {
    .conter-strike {
        margin-left: 0%;

    }
}
@media all and (max-width:300px) {
    .content-7  {
        height: 1050px;

    }
}
