@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    margin: 0;
    padding: 0;
    -wedkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    background-image: url(../images/slider-tech.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

hr{
    border-top:1px solid #4f4f4f;
    border-bottom:  1px solid #4f4f4f;
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
    margin-top: 40px;

}
/*estilos para los contenedore para el home 2*/
/*estilos para la estructura del content-1*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.content-1{
    width: 100%;
    height: 700px;
    margin-top: 0px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

/*estilos para la estructura del content-2*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.content-H2-2{
    width: 100%;
    height: 800px;
    margin-top: 0px;
    background-color: white;


}

/*estilos para la estructura del content-3*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.content-3{

    width: 100%;
    height: 650px;
    margin-top: 0px;
    background-position: center center;
    background-size: cover;
    background-image: url(http://zephyr.us-themes.com/wp-content/uploads/iphone.jpg);

}

/*estilos para la estructura del content-5*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.content-5{
    width: 100%;
    height:238px;
    margin-top: 0px;
    background-color:orange;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
/*estilos para los contenedore para el home 2*/
/*estilos para la estructura del content-6*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*content-6*/
.contentH2-6{
    width: 100%;
    height: 700px;
    margin-top: 0px;
    background-color:white;



}

.tex-contex{
    position: relative;
    top: 20%;
    left: 10%;
    width: 80%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms- flex-wrap: wrap;
    flex-wrap: wrap;

}
@media all and (max-width: 1305px){

    .contentH2-6{
        height: 900px;
    }

}
.tex-contex .cont-tex{
    width: 300px;
    padding: 20px;
}
.tex-contex .cont-tex .ime{
    float: left;
    padding: 20px;
    margin-top:7%;
}
.tex-contex .cont-tex h4{
    padding: 10px;
}
.content-h{
    position: relative;
    top: 8%;
    left: 30%;
    }

/*estilos para la estructura del content-6*/
.content-7{
    width: 100%;
    height: 500px;
    margin-top: 0px;
    background-color:whitesmoke;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.content-R1{
    width: 25%;
    padding: 20px;

     background-image: url(/images/BCJAP.jpg);
    background-position: center center;
    background-size: cover;

}
.content-R2{
    width: 25%;
    padding: 20px;

}
.content-R2 h3{
    margin-top:45%;
     padding: 10px;
}
.content-R2 p{
    padding: 10px;

}
.content-R3{
    width:25%;
    padding: 20px;
    background-image: url(/images/empresa2.jpeg);
    background-position: center center;
    background-size: cover;
}
.content-R4{
    width: 25%;
    padding: 20px;

}
.content-R4 h3{
    margin-top:45%;
     padding: 10px;
}
.content-R4 p{
    padding: 10px;
}





