@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    margin: 0;
    padding: 0;
    -wedkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    background-image: url(../images/background-1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

hr{
    border-top:1px solid #4f4f4f;
    border-bottom:  1px solid #4f4f4f;
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
    margin-top: 40px;

}


.content-9{
    width: 100%;
    height: 50vh;
    margin-top: 100px;
    background-image: url(../images/wallpapers_tecnologia_computacion_by_madboxpc-1.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-9{
    color: aliceblue;
}
.pie-1, .pie-2, .pie-3 {
    float: left;
    width: 320px;
    height: auto;
    margin: 20px;
    margin-top: 50px;
}
.pie-1{
    margin-left: 200px;
}
.redes-pie {
    margin-top: 30px;
    width: 350px;
}
#faceb-p, #GM-p, #inst-p, #you-p {
    float: left;
    margin-right: 16px;
}
.redes-pie img{
    width: auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.redes-pie img:hover{
    height: 90px;
    width: 90;
    margin-left: -50px;
}





