/*estilo importado para el estilo de letra  por parte google*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*estilos aplicados para todo contenido del home4*/
*{
    margin: 0;
    padding: 0;
    -wedkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
/*estilos para todo el cuerpo principal del ala pagina home4*/
body{
    background-image: url(../images/background-1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

hr{
    border-top:1px solid #4f4f4f;
    border-bottom:  1px solid #4f4f4f;
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
    margin-top: 40px;
}
/* el contenido se maneña  una estrutura propia por lo que los estilos
esta separado en una estructura diferentes*/
.content-principal{
    width: 100%;
    height: 80vh;
    background-color: aliceblue;
    color:white;
    font-family: Open Sans;
    margin:0;
    background-color:#00bdff;
}
#global {
	height: 80vh;
	width: 100%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
#mensajes {
	height: auto;
}
.texto {
	padding:4px;
	background:grey;
    width: 100%;
    height: 80vh;
    border: solid 2px black;
}
/*-----------------------------------------------------------------*/
#section0{
    position: relative;
     background-size: cover;
}
.SEC-red {
    background: rgba(252, 252, 252, 0.56);
    margin-top: -170px;
}


/*-----------------------------------------------------------------*/

