@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    margin: 0;
    padding: 0;
    -wedkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    background-image: url(../images/slider-tech.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

hr{
    border-top:1px solid #4f4f4f;
    border-bottom:  1px solid #4f4f4f;
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
    margin-top: 40px;

}

.content-1{
    width: 100%;
    height: 70vh;
    margin-top: 0px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;


}
.comten-ryo{
    width: 100%;
    height: 100%;
    background-color: rgba(31,31,31,0.7);
}
.comten-ryo h1{
    position: absolute;
    font-size: 30px;
    top: 42%;
    left: 30%;
    color: grey;

}
.boton_personalizado1{
    position: absolute;
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    background-color:rebeccapurple;
    border-radius: 6px;
    border: 1px solid #0016b0;
    top: 50%;
    left: 45%;
  }
.boton_personalizado1:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
.opasity{
    background-color: rgba(31,31,31,0.7);
}

.content-2{
    width: 100%;
    height: 60vh;
    margin-top: 0px;
    background-color: white;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: solid 1px grey;



}
.content-3{
    width: 100%;
    height: 80vh;
    margin-top: 0px;
    background-color: yellow;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.content-4{
     width: 100%;
    height: 30vh;
    margin-top: 0px;
    background-color: aqua;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: solid 1px grey;

}
/*content-5*/
.content-5{

    width: 100%;
    height: 60vh;
    margin-top: 0px;
    background-color: white;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.contentspecial{
    position: absolute;
    margin-top: 2%;
}
.imagenphon5{
    position:absolute;
    top: 5%;
    left: 60%;
}
.imagenphon5 img{
    width: 100%;
    max-width: 400px;

}
.imagenphontex{
    position: relative;
    top: 65%;
    left: 10%;
    width: 40%;
    height: 20%;

}
.texclass{
    position: relative;
    margin-top: 10px;
    left: 20px;
    text-align: center;
    font-family: roboto,sans-serif;

}
.boton1{
    position: relative;
    margin-top: 100px;
    left: 90px;
    float: left;
}
.boton2{
    position: relative;
    margin-top: 100px;
    float: left;
    left: 100px;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color:purple;
    border-radius: 6px;
    border: 1px solid #0016b0;
  }
.boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
/*content-6*/
.content-6{
    width: 100%;
    height: 60vh;
    margin-top: 0px;
    background-color:white;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;



}
.contery1{
    width: 50%;
    height: 100%;
    background-image: url(../images/GLOBOS.jpeg)
}
.contery1 h1{
    position: relative;
    margin-top: 15%;
    left: 35px;
    font-size: 25px;
    font-family: roboto,sans-serif;
    font-family: inherit;
    line-height: 1.4;
    margin: 0 0 1.5rem;
    padding-top: 1rem;
    color: antiquewhite;
}
.contery1 .conten-p{
    position: relative;
    width: 500px;
    color: whitesmoke;
    line-height:30px;
    top: 15%;
    left: 10%;

}
.conte-butom{
    position: relative;
    top: 30%;
    left: 10%;
}
.contery2{
    width: 50%;
    height: 100%;
    background-image: url(../images/hombre-estudiando-computadora.jpg);
    background-position: center center;
    background-size: cover;
}

.boton_personalizado2{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: blue;
    background-color:whitesmoke;
    border-radius: 6px;
    border: 1px solid #0016b0;
  }
.boton_personalizado2:hover{
    color: #1883ba;
    background-color: gray;
  }

/*content-7*/
.content-7{
    width: 100%;
    height: 70vh;
    margin-top: 0px;
    background-color:whitesmoke;
    background-position: center center;
    background-size: cover;
     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms- flex-wrap: wrap;
    flex-wrap: wrap;


}

.content-7 .conten-h1{

    margin-top: 5%;
    margin-left: 21%;

}
.content-7 .conten-h1 h1{
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    font-family: roboto,sans-serif;
    font-family: inherit;
    line-height: 1.4;
    margin: 0 0 1.5rem;
    padding-top: 1rem;
}
.conter-striker{
    width: 100%;
    height: auto;
    top: 2%;
    margin-left: 14%;
     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.conter-striker .conty{
    width: 350px;
    padding: 30px;

}




.content-9{
    color: aliceblue;
}
.pie-1, .pie-2, .pie-3 {
    float: left;
    width: 320px;
    height: auto;
    margin: 20px;
    margin-top: 50px;
}
.pie-1{
    margin-left: 200px;
}
.redes-pie {
    margin-top: 30px;
    width: 350px;
}
#faceb-p, #GM-p, #inst-p, #you-p {
    float: left;
    margin-right: 16px;
}
.redes-pie img{
    width: auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.redes-pie img:hover{
    height: 90px;
    width: 90;
    margin-left: -50px;
}


/* Pie de pagina y marca registrada*/
.content-9{
    width: 100%;
    height: 50vh;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.9);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.content-9{
    color: aliceblue;
}
.pie-1, .pie-2, .pie-3 {

    float: left;
    width: 360px;
    height: auto;
    margin: 10px;
    margin-top: 100px;
}
.pie-1{
    margin-left: 230px;
}
.pie-2{
    margin-left: 50px;
}
.pie-2 li{
    padding: 5px;
    list-style-type: circle;
}
.pie-2 a{
    color: #b7b0e0;
    text-decoration:none;
}
.pie-2 a:hover{
    text-decoration:none;
    display:block;
    color: skyblue;
    font-size: 19px;
}
.redes-pie {
    margin-top: 30px;
    width: 350px;
}
#faceb-p, #GM-p, #inst-p, #you-p {
    float: left;
    margin-right: 16px;
}
#faceb-p, #GM-p, #inst-p, #you-p{
    filter: grayscale(100%);
}
#faceb-p:hover,#GM-p:hover, #inst-p:hover, #you-p:hover{
    filter: grayscale(0%);
}
.redes-pie img{
    width: auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.redes-pie img:hover{
    height: 90px;
    width: 90;
    margin-left: -50px;
}
input:invalid ~ span:after {
    content: '✖';
    padding-left: 5px;
    position: absolute:
}
input:valid ~ span:after {
    content: '✓';
    padding-left: 5px;
    position: absolute:
}
.imagen-pie h3{
    padding: 2px;
    width: 200px;
    margin-top: 5px;
    margin-left: 50px;
}
.content-10{
    position: absolute;
    width: 100%;
    height: 15%;
    margin-top: 0px;
    background-color:black;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.NN2{
    float: left;
    color: snow;
    width: auto;
    margin: 3.29% 260px;
}
.content-10 ul {
    float: left;
    color:aqua;
    width: auto;
    margin: 3.29% 10px;
    font-size: 20px;
}
.content-10 ul a{
    text-decoration:none;
    display:block;
    color: aliceblue;
}
.content-10 ul a:hover{
    text-decoration:none;
    display:block;
    color: skyblue;
    font-size: 26px;
}
/*    Eso era pie y marca registrada*/


