/*estilos para la estructura del content-9*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*esta  aria comprende el fooster*/
.content-9{
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    min-height: 500px;
    color: aliceblue;
}
@media all and ( max-width: 780px){
    .content-9{
    background: rgba(0, 0, 0, 0.9);
    min-height: 500px;
}
}
@media all and ( max-width: 600px){
    .content-9{
    background: rgba(0, 0, 0, 0.9);
    min-height: 650px;
}
}
@media all and ( max-width: 425px){
    .content-9{
    background: rgba(0, 0, 0, 0.9);
    min-height: 850px;
}
}
footer {
    width: 90%;
    max-width: 960px;
    margin: 10px auto;
}
.pie-1, .pie-2, .pie-3 {
    margin-top: 60px;
    width: 32%;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 4px;
}
@media all and ( max-width: 800px){
    .pie-1, .pie-2, .pie-3{
    margin-top: 10px;
        margin-left: 0;
}
}
@media all and ( max-width: 500px){
    .pie-1, .pie-2, .pie-3{
    overflow-x:scroll;
}
}
.pie-2 li{
    padding: 5px;
    list-style-type: circle;
}
.pie-2 a{
    color: #b7b0e0;
    text-decoration:none;
}
.pie-2 a:hover{
    text-decoration:none;
    display:block;
    color: skyblue;
    font-size: 19px;
}
.redes-pie {
    margin: 10px 30px;
    width: 100%;
}
#faceb-p, #GM-p, #inst-p, #you-p {
    float: left;
    margin-right: 16px;
}
.redes-pie img{
  width: 50px; height: 50px;
}
#faceb-p, #GM-p, #inst-p, #you-p{
    filter: grayscale(100%);
}
#faceb-p:hover,#GM-p:hover, #inst-p:hover, #you-p:hover{
    filter: grayscale(0%);
}
.redes-pie img{
    width: auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.redes-pie img:hover{
    height: 90px;
    width: 90;
    margin-left: -50px;
}
input:invalid ~ span:after {
    content: '✖';
    padding-left: 5px;
    position: absolute:
}
input:valid ~ span:after {
    content: '✓';
    padding-left: 5px;
    position: absolute:
}
.imagen-pie h3{
    width: 200px;
    height: auto;
    margin-top: 0.1%;
    margin-left: 50px;
}

/*estilos para la estructura del content-10*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.content-10{
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    min-height: 150px;
    margin: 1px 0px;
    color: aliceblue;

}
.NN1{
    float: left;
    color: snow;
    width: auto;
    margin: 3.29% 260px;
}
.content-10 ul {
    float: left;
    color:white;
    width: auto;
    margin: 3.29% 10px;
    font-size: 20px;
}
.content-10 ul a{
    text-decoration:none;
    display:block;
    color: aliceblue;
}
.content-10 ul a:hover{
    text-decoration:none;
    display:block;
    color: skyblue;
    font-size: 26px;
}
