body{
    border: solid black 5px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    -wedkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.texto .t1, .t2, .t3,.t4,.t5{
        background: orange;
        width: 100%;
        height: 75px;
    }

@media all and ( max-width: 1200px){
    .texto .t1, .t2, .t3,.t4,.t5{
        background: red;
        width: 100%;
        height: auto;
    }
}
@media all and ( max-width: 600px){
    .texto .t1, .t2, .t3,.t4,.t5{
        background: blue;
        width: 100%;
        height: auto;
    }
}

/*-------     foooter   ---------------------------------*/
.ejemplo{
    background: rgba(0, 0, 0, 0.9);
    border: solid blue 10px;
    min-height: 100px;
}
@media all and ( max-width: 600px){
    .ejemplo{
    background: rgba(234, 36, 36, 0.9);
    border: solid blue 10px;
    min-height: 200px;
}
}
footer {
    width: 90%;
    max-width: 960px;
    margin: 10px auto;

}

footer .column {
    border: solid red 3px;
    background: yellow;
    width: 30%;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}


/*estilos para la estructura del content-9*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*esta  aria comprende el fooster*/
.content-9{
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    min-height: 500px;
    color: aliceblue;
}
@media all and ( max-width: 600px){
    .ejemplo{
    background: rgba(234, 36, 36, 0.9);
    min-height: 200px;
}
}




/*.content-9 {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
}*/

.pie-1, .pie-2, .pie-3 {

    margin-top: 100px;
    border: solid red 3px;
    background: grey;
    width: 32%;
    float: left;
    overflow: hidden;
    margin-bottom: 1px;
}
.pie-1, .pie-2, .pie-3{
    margin-left: 4px;
}
.pie-2 li{
    padding: 5px;
    list-style-type: circle;
}
.pie-2 a{
    color: #b7b0e0;
    text-decoration:none;
}
.pie-2 a:hover{
    text-decoration:none;
    display:block;
    color: skyblue;
    font-size: 19px;
}

.redes-pie {
    margin-top: 30px;
    width: 350px;
}
#faceb-p, #GM-p, #inst-p, #you-p {
    float: left;
    margin-right: 16px;
}
#faceb-p, #GM-p, #inst-p, #you-p{
    filter: grayscale(100%);
}
#faceb-p:hover,#GM-p:hover, #inst-p:hover, #you-p:hover{
    filter: grayscale(0%);
}
.redes-pie img{
    width: auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.redes-pie img:hover{
    height: 90px;
    width: 90;
    margin-left: -50px;
}
input:invalid ~ span:after {
    content: '✖';
    padding-left: 5px;
    position: absolute:
}

input:valid ~ span:after {
    content: '✓';
    padding-left: 5px;
    position: absolute:
}
.imagen-pie h3{
    width: 200px;
    height: auto;
    margin-top: 0.1%;
    margin-left: 50px;
}

/*estilos para la estructura del content-10*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.content-10{
    width: 100%;
    height: 15%;
    margin-top: 0px;
    background-color:black;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.NN1{
    float: left;
    color: snow;
    width: auto;
    margin: 3.29% 260px;
}
.content-10 ul {
    float: left;
    color:white;
    width: auto;
    margin: 3.29% 10px;
    font-size: 20px;
}
.content-10 ul a{
    text-decoration:none;
    display:block;
    color: aliceblue;
}
.content-10 ul a:hover{
    text-decoration:none;
    display:block;
    color: skyblue;
    font-size: 26px;
}
