@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    margin: 0;
    padding: 0;
    -wedkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.Header-redes {
    position: relative;
    width: 100%;
    height: 50px;
    color: rgba(61, 8, 237, 0.66);
    font-size: 20px;
    font-stretch: expanded;
    box-shadow:0px 4px 3px rgba(0,0,0,.5)
}
.info{
    background-color: rgba(0,0,0,.2);
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
}
.redes{
    background-color: rgba(0,0,0,.2);
    float: right;
    width: 50%;
    padding: 10px;
    height: auto;
}
#tell, #email, #login {
    float: left;
    margin-right: 16px;    
}
#faceb, #GM, #inst, #you {
    float: right;
    margin-right: 16px;
}

A:hover {text-decoration:underline;
    color:rgba(61, 8, 237, 0.46);
cursor: zoom-in;}

.Header-redes div a:link {
    text-decoration:none;
    color:white;

}
.colora{
    color: white;
}
