/*estilo importado para el estilo de letra  por parte google*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300');
/*stilos extras para de hoe 4 para la estruturacion interna de los contenedores div del slider*/

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

h1 {
    font-size: 6em;
}

.conte-teri p {
    font-size: 2em;
    padding: 10px;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section {
    text-align: center;

}

/*stilos para los seccion del  slider  js vertical de home 4*/

#section0 {
    background-image: url(../images/8917b79eab573abe573f37ced351acbf.jpg);
    color: aliceblue;

}

.intro {
    margin-top: 25%;

}

.conte-teri {
    font-size: 9px;
    width: 50%;

}

.contye {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-left: 10%;

}

.boton_personalizado1 {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: purple;
    border-radius: 6px;
    border: 1px solid #0016b0;
}

.boton_personalizado1:hover {
    color: #1883ba;
    background-color: #ffffff;

}

.boton_personalizado2 {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: blue;
    background-color: yellow;
    border-radius: 6px;
    border: 1px solid #0016b0;
}

.boton_personalizado2:hover {
    color: #1883ba;
    background-color: #ffffff;
}

.conte-bottom {
    margin-top: 10%;
}

.titulo {
    position: absolute;
    top: 8%;
    left: 28%;
    font-size: 35px;
}

#section1 {
    background-color: white;
}

.contenbunto {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40%;
}

@media all and (max-width: 1305px) {

    .contenbunto {
        margin-left: 36%;
    }

}

.conte-bottom1 {
    margin-top: 10%;
    padding: 10px;
}

/*   ---------------         contenedor id:section5           ----------------    */

#section3 {
    background-color: rgba(17, 17, 17, 0.82);

}

#section3 h1 {
    width: 100%;
    color: snow;
    font-size: 36px;
    font-family: roboto;
}

#section3 .intro {
    color: rgb(41, 41, 41);
    font-size: 10px;
    margin: 0px 0px;
}

.cuerpo {
    width: 80%;
    height: 400px;
    display: flex;
    position: center;
    margin: 45px 15%;
}

.cuerpo #dactos {
    width: 50%;
    height: auto;
    margin-right: 15px;
}

/* --------- modifica p y h4:a   -------------*/

.cuerpo #dactos a {
    width: 100%;
    margin-top: 35px;
    color: snow;
    font-size: 16px;
    font-family: roboto;
    text-decoration: none;
}

.cuerpo #dactos a:hover {
    color: #1f70b7;
    font-size: 20px;
}

.cuerpo #dactos p {
    width: 100%;
    margin-top: 15px;
    color: snow;
    font-size: 15px;
    font-family: roboto;
}

.contehr {
    position: absolute;
    font-size: 40px;
    top: 40%;
    left: 30%;
}

/*---------  modifica fondo de imagen  -----------*/

.fondo img {
    margin: 15px 5px;
}

.fondo {
    margin: 35px 35%;
    width: 30%;
    height: 90px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 2px solid #1020cc;
}

#Fd1 {
    background: #4b46a3
}

#Fd2 {
    background: #425d4c
}

#Fd3 {
    background: #53c981
}

#Fd4 {
    background: #d3458c
}

#section5 {
    background: rgba(0, 0, 0, 0.88);
    max-height: 100px;
}

.conteniconer {
    position: absolute;
    top: 30%;
    left: 47%;

}

/*-------------- reglas -------------------*/

@media only screen and (max-width: 1350px) {
    .fondo img {
        width: 85%;
        height: 70%;
        margin: 10px 4px;
    }
    .fondo {
        margin: 35px 35%;
        width: 25%;
        height: 65px;
    }
}

@media only screen and (max-width: 800px) {
    .fondo img {
        margin: 5px 0px;
    }
    .fondo {
        width: 35%;
        height: 50px;
        margin: 30px 30%;
    }
}

@media only screen and (max-width: 580px) {
    .fondo img {
        margin: 5px 0px;
    }
    .fondo {
        width: 35%;
        height: 50px;
        margin: 30px 30%;
    }
    .cuerpo #dactos a {

        font-size: 14px;
    }
    .cuerpo #dactos p {

        font-size: 15px;
    }

    .cuerpo {
        width: 100%;
        height: auto;
        margin: 0;
    }
}

.divimg {}

.divimg img {
    width: 100%;
    height: 80%;
    max-width: 400px;
    max-height: 350px;


}
