.content-icon{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content: center;
    margin-top: 20px;
    padding: 40px;
}
.icon{
    padding: 10px;
    font-size: 30px;
    margin: 10px;
    color: purple;
    cursor: pointer;
    -wedkit-transition: all 500ms;
    transition: all 500ms;
}
.icon:hover{
    color: mediumpurple;
}
