/*clases dedicadas para los contenedores espesificos  de aria de los
iconos dela cabecera del tabs*/
.content-icon{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    margin:  10px 380px;
    margin-top: 20px;

}
.icon{
    padding: 10px;
    font-size: 30px;
    margin: 10px;
    color: purple;
    cursor: pointer;
    -wedkit-transition: all 500ms;
    transition: all 500ms;
}
.icon:hover{
    color: mediumpurple;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*content-tabs1 primer contenedor  de la estructura tabs para la primera ejecucion de contenido*/
.content-tabs1{
    position: absolute;
    left: 6%;
    margin-top: 10%;
    width: 100%;
    max-width: 1000px;
    padding: 20px;

}
/*estilos  para  el contenido interno del contenedor tabs1*/
.content-tabs1 .content-texnew{
    text-align: center;
}

.content-texnew h2{
    font-size: 35px;
    margin-top: 20px;
}
.content-texnew h3{
    margin-top: 20px;
    font-weight: 100;
}

.content-imgnew {
    position: relative;
    left: 25%;
    margin-top: 30px;
}
.content-imgnew img{
     width: 100%;
    max-width: 500px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*content-tab2  estilos para el segundo contenedor de las pestaña tabs*/
.content-tabs2{
    position: absolute;
   left: 6%;
    margin-top: 10%;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    display: none;

}
/*estilos para el contenido  de la segunda pestaña*/
.content-tabs2 h1{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    text-align: center;

}

.contexprincipal{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms- flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content: center;
    margin-top: 10px;
}
.contexprincipal .contex{
    width: 300px;
    padding: 10px;


}
.contexprincipal .contex h4{
    padding: 10px;
}
.contexprincipal .contex .imcon{
    float: left;
    padding: 20px;
    margin-top:12%;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*content-tab3  el estilos para el tab3*/
.content-tabs3{
    position: absolute;
   left: 6%;
    margin-top: 10%;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    display: none;


}
/*estilos para el contenido dentro0 del tabs3*/
.contet-contenido{
 display: flex;

}
.content-tabs3 .cont-ini{
    width: 400px;
    padding: 10px;
    margin-top: 30px;
    padding: 10px;
    }
.imge{


}
.imge img{
     width: 100%;
    max-width: 300px;

}
.content-tabs3 .cont-ini h4{
    margin-top: 10px;
    padding: 10px;
    color: gray;
}
.content-tabs3 .cont-ini h3{
    margin-top: 10px;
    padding: 10px;
    color: black;
    text-align: center;
}









